* {
    font-family:'Times New Roman', Times, serif;
    margin: 0vw;
    padding: 0vw;
}

section {
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: 0vh;

    position: fixed;

    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 1.5vw;
}

section .login {
    float: right;
    color: white;
    font-size: 20px;
    margin-right: 0.5vw;
}

section .login a {
    text-decoration: none;
    color: turquoise;
    opacity: 5;

}

section .login a:hover {
    font-size: 120%;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    border: red;
    font-style: italic;
}

.all {
    float: right;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 63vh;
    margin-top: 7vw;
    margin-left: 33%;
    position: fixed;
    opacity: .4;
}

.all:hover {
    float: right;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 63vh;
    margin-top: 7vw;
    margin-left: 33%;
    opacity:1;
}

.all .hd {
    background-color: rgb(14, 12, 12);
    background-position: center;
    box-shadow: 0vw 0vw 0.75vw 0.075vw rgba(7, 6, 6, .8);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.all .hd .reg_head {

    color: #8bbbdb;
    margin-left: 25%;
    background-position: center;
    font-size: 2.1vw;
}

.all .form {
    height: auto;
    width: auto;
    box-shadow: 0vw 0.375vw 1.125vw 0vw rgba(7, 6, 6, .8);
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(95, 214, 111, 0.1), rgba(88, 113, 165, 0.1)), url(chef.jpeg);
    opacity: 90%;


}

.all .form .reg_card {
    padding-top: 10px;
    margin-left: 0.8vw;
    margin-right: 0.5vw;
}

.all .form .reg_card .reg_submit {

    padding-left: 1.875vw;
    padding-right: 1.875vw;
}

.all .form .reg_card .reg_submit .smt {
    position: center;
    font-size: 2vw;
}

.smt {
    font-family:'Times New Roman', Times, serif;
    position: center;
    background-color: white;
}

.smt:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    font-style: italic;

}

.all .form .reg_card .reg_table .row {
    font-size: 1.3vw;
}

.td {
    
    color: rgb(119, 236, 158);
    font-size: 1.3vw;
    float: left;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#myVideo {
    position: fixed;
    right: 0vw;
    bottom: 0vw;
    min-width: 100%;
    min-height: 100%;
}


body .logo img {
    float: left;
    width: 5.5vw;
    height: 5.5vw;
    border: 0.15vw rgb(7, 7, 7);
    margin-top: 1.75vw;
    margin-left: 3.75vw;
    border-radius: 5% 0% 20% 0%;
    border-style: hidden dotted double solid;

}

label {
    color: white;
    cursor: pointer;

}

label:hover {
    color: white;
    font-size: 110%;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    text-shadow: 2px 2px red;
}

.span {
    color: white;
    cursor: pointer;
}

.span:hover {
    color: red;
    background-color: white;

}


section .menubar ul {
    float: right;
    list-style-type: none;
    margin-top: 0.75vw;
}

section .menubar ul li {
    display: inline;
    padding-top: 2.25vw;


}

section .menubar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.45vw 1.5vw;
    border: 1px double transparent;
    border-radius: 10% 0% 10% 0%;
    font-size: 1.5vw;
    transition: 1s ease;
}

section .menubar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(210, 219, 219, 0.8);
    font-size: 2.25vw;
    border-style: groove hidden groove hidden;
    border-color: rgba(9, 8, 10, 0.8);
    border-radius: 10% 0% 10% 0%;

}